.container {
    max-width: 80vw;
    margin: auto;
    position: relative;
    padding: 0px 15px;
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
}

.col-1 {
    grid-column: span 1;
}

.col-2 {
    grid-column: span 2;
    position: relative;
}

.col-3 {
    grid-column: span 3;
}

.col-4 {
    grid-column: span 4;
    position: relative;
}

.col-5 {
    grid-column: span 5;
}

.col-6 {
    grid-column: span 6;
}

.col-7 {
    grid-column: span 7;
}

.col-8 {
    grid-column: span 8;
}

.col-9 {
    grid-column: span 9;
}

.col-10 {
    grid-column: span 10;
}

.col-11 {
    grid-column: span 11;
}

.col-12 {
    grid-column: span 12;
}

@media only screen and (max-width: 600px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        grid-column: span 12;
    }

    .container {
        max-width: 92vw;
        margin: auto;
        position: relative;
        padding: 0px 15px;
    }
    
}

@media only screen and (max-width: 1000px) {
    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5 {
        grid-column: span 12;
    }
}

.p50 {
    padding: 50px;
}

.ptb50 {
    padding: 50px 0px;
}

.w500 {
    max-width: 500px;
}

.asc {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.vc {
    display: grid;
    align-items: center;
    align-content: center;
}

.hc {
    text-align: center;
    justify-content: center;
}